body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.poster {
    height:500px;
    width:"auto";
    margin:30px;
}

.poster:hover {
    border:3px solid red;
    margin: 2px;
}

.gallery {
    margin-top:60px;
    background-color:gray
}

.watch {
    display: block;
    background-color: lightgreen;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.watch:hover{
    background-color: darkgreen;
}

.feedback-form-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.feedback-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

#feedback-form {
    display: flex;
    flex-direction: column;
}

#feedback-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

#feedback-form input, #feedback-form select, #feedback-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#feedback-form input:focus, #feedback-form select:focus, #feedback-form textarea:focus {
    border-color: #007bff;
}

#feedback-form button {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#feedback-form button:hover {
    background-color: #0056b3;
}